[Unit]
Description=Gunicorn instance to serve {{ app.name }}
After=network.target

[Service]
User=flask
Group=www-data
WorkingDirectory=/home/{{ app.user }}/{{ app.name }}
Environment="PATH=/home/{{ app.user }}/{{ app.name }}/venv/bin"
ExecStart=/home/{{ app.user }}/{{ app.name }}/venv/bin/gunicorn --workers 3 --bind unix:{{ app.name }}.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
