# {{ ansible_managed }}
# La variable du dessus indique qu'il ne faut pas modifier ce fichier directement, on peut l'écraser dans notre config Ansible pour écrire un message plus explicite à ses collègues

server {
    listen 80;

    server_name {{ app.domain }};

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/{{ app.user }}/{{ app.name }}/{{ app.name }}.sock;
    }
}
